<main>

  <div class="welcome text-center w-full">
    <h1>MediBooking</h1>
  </div>

  <div class="button-row">
    <p-button label="Nuova prenotazione" icon="pi pi-plus" severity="secondary" (onClick)="goto('add-prenotazione')">
    </p-button>

    <p-button label="Elenco pazienti" icon="pi pi-list" severity="secondary" (onClick)="goto('pazienti-list')">
    </p-button>

    <p-button label="Gestione Medici" icon="pi pi-user-edit" severity="secondary" (onClick)="goto('medici-list')">
    </p-button>
  </div>
  
  <!-- Tabella con le prenotazioni della settimana -->
  <p-table [value]="giorni" showGridlines [tableStyle]="{ 'min-width': '80rem' }">
    <ng-template #header>
      <tr>
        <th *ngFor="let giorno of giorni">
          {{ giorno }}
      </th>
      </tr>
    </ng-template>
    <ng-template #body>
      <tr *ngFor="let ora of orari">
        <td>
          {{ ora }}
        </td>
    </tr>
    </ng-template>
  </p-table>

</main>