.paziente-details {
    flex-direction: column;
    padding: 0.5rem;
  }

  .paziente-info {
    flex-direction: column;
    margin-top: 0rem;
  }

  .paziente-header {
    display: flex;
    margin-bottom: 0rem;
  }
  
  .paziente-name h2 {
    margin: 0;
  }
  
  .paziente-info p {
    margin: 5px 0;
  }
  