<div>
  <p style="color: #708090">
    <p-button icon="pi pi-home" [link]="true" (onClick)="goto('')" [style]="{ color: 'gray' }" class="p-button-link" />
    <i class="pi pi-angle-right"></i>
    <p-button label="Elenco Pazienti" [link]="true" (onClick)="goto('pazienti-list')" [style]="{color: 'gray'}"
      class="p-button-link" />
    <i class="pi pi-angle-right"></i>
    {{ paziente.codFiscale }}
  </p>
</div>

<div class="paziente-details">

  <!-- Card con le informazioni del paziente -->
  <p-card class="m-2 p-2">
    <ng-template pTemplate="header">
      <div class="paziente-header p-3">
        <div class="paziente-name">
          <h2>{{ paziente.nome }} {{ paziente.cognome }}</h2>
          <p>{{ paziente.codFiscale }}</p>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="paziente-info">
        <p><strong>Telefono:</strong> {{ paziente.telefono }}</p>
        <p><strong>Email:</strong> {{ paziente.email }}</p>
        <p><strong>Indirizzo:</strong> {{ paziente.indirizzo }}</p>
        <!-- Aggiungi altre informazioni se necessario -->
      </div>
        <div class="flex justify-content-end" [style]="{ position: 'relative', height: '' }">
          <p-toast />
          <p-speeddial [model]="items" direction="up" [style]="{ position: 'absolute', right: 0, bottom: 0 }"
            [buttonProps]="{ severity: 'info', rounded: true }" [tooltipOptions]="{ tooltipPosition: 'left' }" />
        </div>
    </ng-template>
    <div class="card">
    </div>
  </p-card>

  <!-- Tabella con le prenotazioni del paziente -->
  <p-table [value]="prenotazioni" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Ora</th>
        <th>Medico</th>
        <th>Stato</th>
        <!-- Aggiungi altre colonne se necessario -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-prenotazione>
      <tr>
        <td>{{ prenotazione.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ prenotazione.orario }}</td>
        <td>{{ prenotazione.nomeMedico }}</td>
        <td>{{ prenotazione.status }}</td>
        <!-- Aggiungi altre celle se necessario -->
      </tr>
    </ng-template>
  </p-table>
</div>