<div>
    <p style="color: #708090"><p-button icon="pi pi-home" [link]="true" (onClick)="goto('')" [style]="{ color: 'gray' }"
            class="p-button-link" /> <i class="pi pi-angle-right"></i> Nuova prenotazione
    </p>
</div>

<h1 class="text-3xl text-center font-bold">Aggiungi nuova prenotazione</h1>
<div class="p-3 flex items-center justify-content-center">
    <p-card>
        <form [formGroup]="prenotazioneForm" class="col-12">

            <div class="grid p-2">
                <!-- idPaziente -->
                <div class="col-6">
                    <label for="idPaziente" class="font-bold">Paziente</label>
                    <div class="flex justify-center">
                        <p-autocomplete formControlName="idPaziente" [dropdown]="true" [suggestions]="filteredPazienti"
                            optionLabel="codFiscale" optionValue="id" (completeMethod)="searchPaziente($event)"
                            [style]="{ width: '100%' }">
                            <ng-template let-paziente #item>
                                <div class="flex items-center gap-2">
                                    <div>{{ paziente.nome }} {{ paziente.cognome }}</div>
                                </div>
                            </ng-template>
                        </p-autocomplete>
                    </div>
                </div>

                <!-- idMedico -->
                <div class="col-6">
                    <label for="idMedico" class="font-bold">Medico</label>
                    <div class="flex justify-center">
                        <p-autocomplete formControlName="idMedico" [dropdown]="true" [suggestions]="filteredMedici"
                            optionLabel="nome" optionValue="id" (completeMethod)="searchMedico($event)">
                            <ng-template let-medico #item>
                                <div class="flex items-center gap-2">
                                    <div>{{ medico.nome }}</div>
                                </div>
                            </ng-template>
                        </p-autocomplete>
                    </div>
                </div>
            </div>

            <div class="grid p-2">
                <!-- tipoVisita -->
                <div class="col-6">
                    <label for="tipoVisita" class="font-bold">Tipo visita</label>
                    <div class="flex justify-center">
                        <p-autocomplete formControlName="tipoVisita" [dropdown]="true" [suggestions]="filteredTipi"
                            optionLabel="label" (completeMethod)="searchTipo($event)" />
                    </div>
                </div>

                <!-- Data -->
                <div class="col-6">
                    <label for="data" class="font-bold">Data</label>
                    <div class="flex justify-center">
                        <p-datepicker formControlName="data" dateFormat="dd/mm/yy" [iconDisplay]="'input'"
                            [showIcon]="true" />
                    </div>
                </div>
            </div>

            <div class="grid p-2">
                <!-- Orario -->
                <div class="col-6">
                    <label for="orario" class="font-bold">Orario</label>
                    <div class="flex justify-center">
                        <p-datepicker formControlName="orario" [iconDisplay]="'input'" [showIcon]="true"
                            [timeOnly]="true">
                            <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                    </div>
                </div>

                <!-- Durata -->
                <div class="col-6">
                    <label for="durata" class="font-bold">Durata</label>
                    <div class="flex gap-4 justify-start">
                        <div class="flex items-center">
                            <p-radiobutton name="durata" value="15" formControlName="durata" />
                            <label for="ingredient1" class="ml-2">15 min</label>
                        </div>

                        <div class="flex items-center">
                            <p-radiobutton name="durata" value="30" formControlName="durata" />
                            <label for="ingredient2" class="ml-2">30 min</label>
                        </div>

                        <div class="flex items-center">
                            <p-radiobutton name="durata" value="45" formControlName="durata" />
                            <label for="ingredient3" class="ml-2">45 min</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid p-2">
                <!-- Costo -->
                <div class="col-6">
                    <label for="costo" class="font-bold">Costo</label>
                    <div class="flex justify-center">
                        <p-inputnumber formControlName="costo" mode="currency" inputId="currency-italy" currency="EUR"
                            locale="it-IT" class="w-full" />
                    </div>
                </div>

                <!-- Note -->
                <div class="col-6">
                    <label for="note" class="font-bold">Note</label>
                    <div class="flex justify-center">
                        <textarea rows="5" cols="30" pTextarea formControlName="note"></textarea>
                    </div>
                </div>
            </div>

            <div class="flex justify-content-between w-full">
                <!-- Bottone Reset -->
                <div class="flex justify-content-start">
                    <p-button label="Resetta" severity="secondary" (click)="resetForm()" />
                </div>
                <!-- Bottone Salva -->
                <div class="flex justify-content-end">
                    <p-button label="Salva" severity="info" (click)="onSubmit()" />
                </div>
            </div>
        </form>
    </p-card>
</div>
